section{
    margin-top: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.productos{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
}
.productos a{
    width: 100%;
    display: flex;
}
