nav{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 1;
}
ul{
    width: 90%;
    display: flex;
    align-items: start;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    padding: 0;
}
ul li{
    margin: 10px;
    list-style: none;
    transition: all 0.3s ease-in-out;
}
ul li a{
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 18px;
}
ul li:hover{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}
.deco{
    width: 100%;
    height: 170px;
    background-image: url("../IMAGENES/Head_Menu.png");
    background-size: auto 100%;
    background-size: contain; /* cambia de cover a contain */
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    justify-content: center;
}
.nav-links{
    justify-content: space-around;
}
.logo{
    margin-top: -15px;
    background-image: url("../IMAGENES/Logo Imix.png");
    background-size: contain;
    width: 15vw;
    height: 15vw;
    border: 5px solid white;
    border-radius: 100vw;
}
footer{
    display: flex;
    width: 100%;
    height: 500px;
    background-image: url("../IMAGENES/Footer.png");
    background-size: auto 100%;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
footer p{
    color: white;
    margin: 5px;
}
footer a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
footer a:hover{
    cursor: pointer;
    transform: scale(1.025);
    opacity: 50%;
    transition: all 0.3s ease-in-out;
}
footer a img{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
.info{
    width: 70%;
    display: flex;
    align-items: start;
    justify-content: space-around;
}